# Ignore everything file and folder in the .gitignore directory non-recursively
/*

# Include this .gitignore
!.gitignore 
!.gitignore_global

!.bashrc
!.bash_aliases

!.Xdefaults
!.bg.png

!init/

# config
!.config/
.config/*

# i3
!.config/i3/
!.i3/
.i3/.git
.config/i3/*
!.config/i3/config

# i3status
!.config/i3status

# Compton
!.compton.conf

# Vim
!.vimrc

# Powerline
!.config/powerline/

# Kitty
!.config/kitty/

# Polybar
!.config/polybar

# Fonts
!.fonts/
